// See https://zmk.dev/docs/development/hardware-integration/physical-layouts
// for how to configure this.

#include <physical_layouts.dtsi>

/ {
    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan>;

        // Edit this to define the positions and sizes of the keys, or remove it
        // if your keyboard will not support ZMK Studio.
        // https://zmk.dev/docs/development/hardware-integration/physical-layouts#optional-keys-property
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0     0     0>
            , <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  100  100       0     0     0>
            ;
    };


    pro_micro: connector {
        compatible = "arduino-pro-micro";
        #gpio-cells = <2>;
        gpio-map-mask = <0xffffffff 0xffffffc0>;
        gpio-map-pass-thru = <0 0x3f>;
        gpio-map
            = <0 0 &gpio0 8 0>      /* D0 */
            , <1 0 &gpio0 6 0>      /* D1 */
            , <2 0 &gpio0 15 0>     /* D2 */
            , <3 0 &gpio0 17 0>     /* D3 */
            , <4 0 &gpio0 20 0>     /* D4/A6 */
            , <5 0 &gpio0 13 0>     /* D5 */
            , <6 0 &gpio0 24 0>     /* D6/A7 */
            , <7 0 &gpio0 9 0>      /* D7 */
            , <8 0 &gpio0 10 0>     /* D8/A8 */
            , <9 0 &gpio1 6 0>      /* D9/A9 */
            , <10 0 &gpio1 11 0>    /* D10/A10 */
            , <11 0 &gpio1 10 0>    /* D16 */
            , <12 0 &gpio0 3 0> /* D14 */
            , <13 0 &gpio0 28 0>    /* D15 */
            , <18 0 &gpio0 2 0> /* D18/A0 */
            , <19 0 &gpio0 29 0>    /* D19/A1 */
            , <20 0 &gpio0 31 0>    /* D20/A2 */
            , <21 0 &gpio0 30 0>    /* D21/A3 */
            ;
    };

};
